.page {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F2F2F7;
    padding-top: calc((100vh - 700px) /2);
    padding-bottom: calc((100vh - 700px) /2);
}

.content {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 77%;
    max-height: 700px;
    background-color: #FFF;
    border-radius: 28px;
    box-shadow: 0px 4px 4px 0px #0000004D;
    box-shadow: 0px 8px 12px 6px #00000026;
}

.header {
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.nav {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 33px 32px 48px;
    width: 100%;
}

.nav__title {
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.nav__bar {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 21px;
}

.nav__left-arrow,
.nav__right-arrow {
    width: 64px;
    height: 64px;
    background-color: #F2F2F7;
    border: 0;
    border-radius: 16px;
    cursor: pointer;
    padding: 0;
}

.nav__today {
    width: 119px;
    height: 64px;
    background-color: #F2F2F7;
    border: 0;
    border-radius: 16px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: #A1A1AA;
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.nav__left-arrow:hover,
.nav__today:hover,
.nav__right-arrow:hover {
    background-color: #d7d7d9;
}

.calendar {
    display: grid;
    width: 100%;
    grid-template-columns: 0.77fr 1.05fr repeat(6, 1fr);
    grid-template-rows: 1fr repeat(24, 64px);
    overflow-y: scroll;
    border-top: 3px solid #F2F2F7;
}

::-webkit-scrollbar {
    width: 16px; 
}

::-webkit-scrollbar-track {
    background: transparent; 
    border: 0;
}

::-webkit-scrollbar-thumb {
    background: #E5E5EA; 
    border-radius: 28px;
    height: 300px;
}

::-webkit-scrollbar-thumb:hover {
    background: #A1A1AA; 
}

.calendar__space {
    border-right: 3px solid #F2F2F7;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5;
    margin-bottom: 15px;
    margin-right: -12px;
}

.calendar__top {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 3px solid #F2F2F7;
    border-bottom: 3px solid #F2F2F7;
    padding-top: 15px;
    padding-bottom: 15px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
}

.first {
    padding-left: 9px;
}

.calendar__top_month,
.calendar__top_number,
.calendar__top_day {
    margin: 0;
    padding: 0;
}

.calendar__top_month {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-bottom: 8px;
}

.calendar__top_number {
    font-family: Inter;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-bottom: 6px;
}

.calendar__top_day {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    opacity: 0.35;
}

.today {
    color: #5856D6;
}

.calendar__unit {
    border-right: 3px solid #F2F2F7;
    border-bottom: 3px solid #F2F2F7;
    padding: 16px;
}

.calendar__unit_hour {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #8E8E93;
    margin: 0;
    
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: -25px;
    padding-right: 15px;
    margin-right: -12px;
    z-index: 3;
}

.event {
    border-radius: 12px;
    opacity: 0.32;
    box-sizing: border-box;
    position: sticky;
    margin: 0;
    z-index: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event:hover {
    opacity: 0.64;
}

.event__title {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin: 0;
    padding: 8px 8px 0 8px;
    text-overflow: ellipsis;
}



/* Borders */

.right-border-none {
    border-right: none;
}

.bottom-border-none {
    border-bottom: 0;
}