.line {
    height: 3px;
    background-color: #5856D6;
    position: sticky;
    top: 0;
    z-index: 3;
    padding: 0;
    border: 0;
    margin: 0;
    margin-top: -19px;
    margin-left: -16px;
    margin-right: -58.9vw;
}

.line__dot {
    position: sticky;
    width: 10px;
    height: 10px;
    background-color: #5856D6;
    border: 0;
    border-radius: 50%;
    z-index: 3;
    top: 0;
    margin-top: -22px;
    margin-left: 60px;
    align-self: center;
    justify-self: center;
    padding: 0;
}